<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinder.user.mapper.NotificationMapper">
    <resultMap id="baseMap" type="com.xinder.api.bean.Notification">
        <id column="id" property="id"/>
        <result column="from_uid" property="fromUid"/>
        <result column="to_uid" property="toUid"/>
        <result column="content" property="content"/>
        <result column="aid" property="aid"/>
        <result column="create_time" property="createTime"/>
        <result column="u_id" property="fromUser.id"/>
        <result column="u_nickname" property="fromUser.nickname"/>
        <result column="uuserface" property="fromUser.userface"/>
        <result column="title" property="article.title"/>
    </resultMap>

    <resultMap id="sysMap" type="com.xinder.api.bean.Notification">
        <id column="id" property="id"/>
        <result column="from_uid" property="fromUid"/>
        <result column="to_uid" property="toUid"/>
        <result column="content" property="content"/>
        <result column="aid" property="aid"/>
        <result column="create_time" property="createTime"/>
        <result column="u_id" property="fromUser.id"/>
        <result column="u_nickname" property="fromUser.nickname"/>
        <result column="uuserface" property="fromUser.userface"/>
    </resultMap>

    <select id="getByToUid" resultMap="baseMap">
        select
        n.id,
        n.from_uid,
        n.to_uid,
        n.content,
        n.aid,
        n.create_time,
        u.id as u_id,
        u.nickname as u_nickname,
        u.userface as uuserface,
        a.title as title
        from notification n left join user u on n.from_uid = u.id
        left join article a on n.aid = a.id
        <where>
            <if test="uid!=null">
                n.to_uid = #{uid}
            </if>
            <if test="type!=null">
                and n.type = #{type}
            </if>
        </where>
        order by n.id desc
        limit #{offset}, #{pageSize};
    </select>

    <select id="getCount" resultType="java.lang.Long">
        select count(*) from notification n
        <where>
            <if test="uid!=null">
                n.to_uid = #{uid}
            </if>
            <if test="type!=null">
                and n.type = #{type}
            </if>
        </where>
    </select>

    <select id="getSystemNotifi" resultMap="sysMap">
        select
        n.id,
        n.from_uid,
        n.to_uid,
        n.content,
        n.aid,
        n.create_time,
        u.id as u_id,
        u.nickname as u_nickname,
        u.userface as uuserface
        from notification n left join user u on n.from_uid = u.id
        <where>
            <if test="type!=null">
                and n.type = #{type}
            </if>
        </where>
        order by n.id desc
        limit #{offset}, #{pageSize};
    </select>
</mapper>
