<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinder.user.mapper.PointInfoMapper">
    <select id="getCount" resultType="java.lang.Long">
        select count(*)
        from point_info pt
        <where>
            <if test="uid!=null">
                and pt.uid = #{uid}
            </if>
        </where>
    </select>

    <select id="getPointInfoList" resultType="com.xinder.api.bean.PointInfo">
        select *
        from point_info pt
        <where>
            <if test="uid!=null">
                and pt.uid = #{uid}
            </if>
        </where>
        order by pt.id desc
        limit #{offset}, #{req.pageSize}
    </select>

    <select id="selectNow" resultType="com.xinder.api.bean.PointInfo">
        select * from point_info
        where
        DATE_FORMAT(create_time,'%Y-%m-%d') = DATE_FORMAT(NOW(),'%Y-%m-%d')
        <if test="pointInfo.uid != null">
            and uid = #{pointInfo.uid}
        </if>
        and content like '签到%'
    </select>

    <select id="selectNearDay" resultType="com.xinder.api.bean.PointInfo">
        select *
        from point_info
        where TO_DAYS(now()) - TO_DAYS(create_time) &lt;= #{count}
          and uid = #{pointInfo.uid}
          and content like '签到%'
    </select>

    <select id="getPointInfoByUid" resultType="com.xinder.api.bean.PointInfo">
        select *
        from point_info
        where uid = #{uid};
    </select>
</mapper>
